{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve",
    "quoteProps": "consistent"
}
